<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cr10a_robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00182236698261134 -5.0141639604285E-06 0.0341491674636669"
        rpy="0 0 0" />
      <mass
        value="1.74652285311069" />
      <inertia
        ixx="0.00405126258542087"
        ixy="5.10773986227681E-07"
        ixz="2.51893050644617E-05"
        iyy="0.00418363711728278"
        iyz="-5.37332456342791E-07"
        izz="0.00651948064956796" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-1.5665E-06 -0.010819 0.17934"
        rpy="0 0 0" />
      <mass
        value="4.1649" />
      <inertia
        ixx="0.020714"
        ixy="6.9683E-09"
        ixz="5.0487E-08"
        iyy="0.018824"
        iyz="-9.6825E-05"
        izz="0.014574" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="100"
      velocity="2.62" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-1.1155E-07 0.2463 0.19515"
        rpy="0 0 0" />
      <mass
        value="11.314" />
      <inertia
        ixx="0.30683"
        ixy="-1.3105E-08"
        ixz="7.0597E-08"
        iyy="0.033617"
        iyz="0.0033375"
        izz="0.29972" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="0 0 0.1765"
      rpy="1.5708 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="100"
      velocity="2.62" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.270862097829883 4.48997423897808E-07 0.130704131468558"
        rpy="0 0 0" />
      <mass
        value="4.89189755714786" />
      <inertia
        ixx="0.00715724166768376"
        ixy="-1.28684716491016E-07"
        ixz="-0.00257878914619537"
        iyy="0.239672860772069"
        iyz="-6.99567790681396E-08"
        izz="0.238368640207415" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0 0.607 0.193"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="-0.0079872181182099 -2.86048335401714E-07 0.11910924945616"
        rpy="0 0 0" />
      <mass
        value="1.16884655523102" />
      <inertia
        ixx="0.00150056109575423"
        ixy="2.61479777560864E-10"
        ixz="5.45098840604506E-05"
        iyy="0.00292613332275487"
        iyz="3.90848514219409E-10"
        izz="0.00273279032976395" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="revolute">
    <origin
      xyz="0.568 0 0.127"
      rpy="3.1416 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="100"
      velocity="3.89" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-4.02201962927396E-08 0.0145465842726011 0.120451473472918"
        rpy="0 0 0" />
      <mass
        value="1.22303277065603" />
      <inertia
        ixx="0.00337902864292695"
        ixy="1.74207009578414E-08"
        ixz="1.07246561506564E-08"
        iyy="0.0014925701498181"
        iyz="-8.42069839050137E-05"
        izz="0.00323298957622922" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5"
    type="revolute">
    <origin
      xyz="0 0 0.125"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="50"
      velocity="3.89" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="-1.48123365371113E-10 -0.000136502016039541 0.0898267236066898"
        rpy="0 0 0" />
      <mass
        value="0.207475731449731" />
      <inertia
        ixx="0.000113179735128728"
        ixy="-4.71054610706609E-14"
        ixz="-9.60411346192505E-14"
        iyy="0.000113727016310527"
        iyz="-2.86594531704226E-08"
        izz="0.000209920992588732" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_files/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6"
    type="revolute">
    <origin
      xyz="0 0 0.125"
      rpy="1.5708 0 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="50"
      velocity="3.89" />
  </joint>

  <link name="world" />
  <joint
    name="base_to_world_fixed"
    type="fixed">
    <parent
      link="world" />
    <child
      link="base_link" />
  </joint>

  <gazebo>
    <plugin
      filename="libgz_ros2_control-system.so"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>
        /pj_robot3t/install/pj_robot3t/share/pj_robot3t/config/controllers.yaml
      </parameters>
    </plugin>
  </gazebo>
<ros2_control name="GazeboSystem" type="system">
  <hardware>
    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
  </hardware>

  <joint name="Joint1">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

  <joint name="Joint2">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

  <joint name="Joint3">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

  <joint name="Joint4">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

  <joint name="Joint5">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

  <joint name="Joint6">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

</ros2_control>

</robot>